html{
  scroll-behavior: smooth;
}

root{
  --color-variant1:#ff5000;
  --color-variant2:#ff910d;
  --color-variant3:#ffb814;
  --color-variant4:#81bd00;
  --color-variant5:#00b040;
  --color-light: rgba(255,255,255,0.6);

  --transition:all 400ms ease;

  --container-width-lg:75%;
  --container-width-md:85%;
  --container-width-sm:90%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
